@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

/* * {
  margin: 0;
  padding: 0;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-myred: var(--myred);
  --color-myred2: var(--myred2);
  --color-mygreen: var(--mygreen);
  --color-myyellow1: var(--myyellow1);
  --color-myyellow2: var(--myyellow2);
}

:root {
  --background: #eaf7fd;
  --foreground: #ffffff;
  --myred: #ffd6e9;
  --myred2: #f6a89e;
  --mygreen: #8cd4cb;
  --myyellow1: #f9f3e5;
  --myyellow2: #f8d966;
}
